= render partial: 'shared/side_bar', locals: { group: @group }

.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name
      = link_to edit_group_path(@group.id), class: 'chat-main__header--group-edit-btn' do
        Edit
    .chat-main__header--members
      Members:
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__messege-name
        １ユーザー名
      .chat-main__messege-time
        2018/09/13 02:26:38
      .chat-main__messege-body
        サンプルテキストです。
        %br
        メッセージはここに表示されます。
  .chat-main__footer
    %form.chat-main__footer-form
      %input.chat-main__footer-body{name: "message", placeholder: "type a message"}
      %label.upload-label{for: "upload-icon"}
        = fa_icon "picture-o", class: "upload-icon" do
          %input#upload-icon{type: "file"}
      %button.submit-btn{type: "submit"}
        Send
