.notification
  .notice
    メッセージ送信成功
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        ユーザー名
      %a.chat-side__user--new-group{ :href => '#' }
        n
      %a.chat-side__user--edit-user{ :href => '#' }
        e
  .chat-side__groups-list
    .chat-side__groups
      .chat-side__group
        .chat-side__group-name
          雑談スレ１
        .chat-side__group-message
          ここは雑談をするスレッドとなります。
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        グループ名
      %a.chat-main__header--group-edit-btn
        Edit
    .chat-main__header--members
      Members:
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__messege-name
        １ユーザー名
      .chat-main__messege-time
        2018/09/13 02:26:38
      .chat-main__messege-body
        サンプルテキストです。
        %br
        メッセージはここに表示されます。
  .chat-main__footer
    %form.chat-main__footer-form
      %input.chat-main__footer-body{:name => "message", :placeholder => "type a message"}
      %button.submit-btn{:type => "submit"}
        Send
