.notification
  .notice
    メッセージ送信成功
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        ユーザー名
      %a.chat-side__user--new-group{ :href => '#' }
        n
      %a.chat-side__user--edit-user{ :href => '#' }
        e
