.notification {
  color: #fff;
  text-align: center;
  line-height: $notice-h;
  background-color: #00A070;
}
.chat-side {
  position: fixed;
  top: $notice-h;
  left: 0;
  bottom: 0;
  width: $side-w;
  padding-top: $head-h;
  background-color: #2f3e51;
  overflow: scroll;
  &__user {
    box-sizing: border-box;
    position: fixed;
    top: $notice-h;
    padding: 0 20px;
    width: $side-w;
    height: $head-h;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: $head-h;
    background-color: #253141;
    &-name {
      display: inline-block;
    }
    &--new-group, &--edit-user {
      float: right;
      margin: 0 5px;
      color: #fff;
      text-decoration: none;
    }
  }
  &__groups {
    .chat-side__group {
      padding: 20px;
      &-name {
        color: #fff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      &-message {
        color: #fff;
        font-size: 11px;
      }
    }
  }
}
